/*
######### SELECTORES ##########
*/
/*SELECTOR UNIVERSAL */
/* con este selector selecciono todos los elementos del html*/
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}